.bayroqlar{
    width: 120px;
    z-index: 50000;
    display: block;
    margin:auto;
}
.bayroqlar img{
    position: relative;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
}

.userIcon{margin-left:20px; font-size: 18px; transform: translate(0px, 5px);}
.maktabLogo {
    color: #FFF !important;
}
@media screen and (max-width:566px) {
    .bayroqlar{
        margin:auto;
    }
}